@import "../abstracts/variables.scss";

.pricing {
  margin-top: 20px;
  padding-top: 90px;
  padding-bottom: 100px;

  background-color: $darkgrey-bg;
}

.pricing__wrapper {
  width: 360;
  margin: 0 auto;
}

.pricing__table {
  font-weight: light;

  & .fa-check {
    color: #3dc644;
  }

  & .fa-times {
    color: #f25b26;
  }

  thead {
    th {
      background-color: $dark-blue;
      border-left: 3px solid #ffffff;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    strong {
      font-weight: 300;
    }
  }

  tbody {
    th {
      padding-left: 0;
      padding-right: 0;
    }

    td {
      text-align: center;
    }
  }

  th {
    font-weight: 300;
  }
}

@media (min-width: $tablet-width) {
  .pricing__wrapper {
    width: $tablet-width;
  }

  .pricing__table {
    font-weight: light;

    tbody {
      th {
        font-weight: bold;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .pricing__wrapper {
    width: $desktop-width;
  }

  .pricing__table {
    font-size: 18px;
  }
}
